/* #region COLORS */
:root {
    --color-light: #F1FAEE;
    --color-mid: #73a17d;
    --color-dark: #324E47;
    --color-text: #09110F;
    --color-dark-select: rgb(29, 50, 43);
}

.bg1 {
    background-color: var(--color-light);
}

.bg2 {
    background-color: var(--color-mid);
}

.bg3 {
    background-color: var(--color-dark);
}

.bg4 {
    background-color: var(--color-text);
}

.bg5 {
    background-color: var(--color-dark-select);
}

.tx1 {
    color: var(--color-light);
}

.tx2 {
    color: var(--color-mid);
}

.tx3 {
    color: var(--color-dark);
}

.tx4 {
    color: var(--color-text);
}

/* #endregion */
/* #region FONTS */
body,
button,
.source-code-pro-standard {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.morz-purge,
.geo-regular-italic {
    font-family: "Geo", sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
    line-height: 0em;
}

.morz-purge {
    text-shadow: 2px 2px 1px #e20f0098;
    font-size: 2.5em;
}

.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  line-height: 0em;
}

@keyframes font_animation {
    0% {
        color: red;
    }

    100% {
        color: blue;
    }
}

/* #endregion */
/* #region GEN FORMATTING */
/* Centering */
.c,
.ch {
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.c,
.cv {
    align-content: center;
    align-items: center;
    flex-direction: column;
}

/* Width */
.wide {
    width: 100%;
}

/* Visibility */
.hidden {
    display: none;
}

/* #endregion */
/* #region PAGE PARTS */
.header {
    text-decoration: none;
    font-size: x-large;
}

.main_content {
    margin: 0vw 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    border-radius: 3vw;
    padding: 2vw;
    gap: 2vw;
}

.text_section {
    border-radius: 3vh;
    padding: 1% 6%;
}

.text_section a {
    text-decoration: underline;
    /* font-style: italic; */
}

.text_section ul {
    text-align: left;
    padding-bottom: 3vh;
}

.text_section h4 {
    width: 80%;
    border-radius: 100px;
    height: 6vh;
}

.text_section h3 {
    width: 80%;
    border-radius: 100px;
    height: 8vh;
}

.text_section h4:hover, .text_section h3:hover {
    border: #324E47;
    border-style: solid;
    box-sizing: border-box;
}

.text_section img {
    width: 80%;
    border-radius: 4vh;
}

.name_div {
    height: 34vw;
    font-size: 8vw;
}

/* .name_div h2 {
    animation-name: font_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: absolute;
} */

.small .name_div {
    margin-top: 1%;
    height: 2%;
    padding: 1vw;
}

.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 10vh;
}

.dropdown,
.dropdown_button,
.navbar_link {
    aspect-ratio: 3;
    border-radius: 100vh;
    border: none;
    text-align: center;
    width: 24%;
    font-size: large;
    text-decoration: none;
    padding: 5px 0px 5px 0px;
}

.navbar_link:hover {
    background-color: #09110F;
}

.small .navbar_link {
    aspect-ratio: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px;
}

.dropdown_button {
    width: 100%;
    height: 100%;
}

/* Using code from w3schools */
/* https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropdown_content {
    position: absolute;
    min-width: 160px;
    border-radius: 3vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.dropdown_content a {
    min-height: 7vh;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown_button {
    background-color: var(--color-text);
}

.dropdown_content a:hover {
    background-color: var(--color-light-select);
    color: var(--color-text);
}

/* #endregion */

h2 {
    font-size: 8vw;
}

body {
    margin: 0;
}

@media all and (max-width: 550px) {

    .sm_navbar_container,
    .navbar_container {
        flex-direction: column;
        gap: 5px;
        height: auto;
        max-height: none;
    }

    .dropdown,
    .dropdown_button,
    .navbar_link {
        width: 100%;
        aspect-ratio: auto;
    }

    .main_content {
        margin: 0%;
        border-radius: 0%;
    }

    .dropdown_content {
        position: relative;
    }

    .dropdown_content a {
        min-height: 6vh;
    }
}